
h1 {
	color: coral;
	font-family: Helvetica;
	font-size: 60px;
	text-align: center;
	text-shadow: 2px 2px darkblue;
	background-color: none;
	border-radius: 10px;
	margin-left: 250px;
	width: 40%
}

img {
	max-height: 50%;
	max-width: 50%;
	border-radius: 10px;
	margin: inherit;
	margin-top: initial;
}

a {
	color: coral;
	text-decoration: none;
}

h2 {
	color: black;
	text-align: center;
	font-weight: lighter;
	font-size: 32px;
  
}

h3 {
	font-size: 25px;
}

h4, h3 {
	text-align: left;
	font-weight: lighter;
}

h4{
	font-size: 22px;
}

.font-face {
	font-family: 'Oswald', sans-serif;
	src: url ('https://fonts.googleapis.com/css?family=Oswald');
}

body {
	background-color: whitesmoke;
	margin-top: 100px;
	margin-left: 200px;
	margin-right: 200px;
	color: black;
	text-shadow: .5px .5px lightsteelblue;
}

p, li {
	font-family: 'Avenir'
}

h5.jobs {
	text-transform: uppercase;
	color: steelblue;
	text-shadow: .5px .5px darkblue;
}

h5.schools {
	text-transform: uppercase;
	color: coral;
	text-shadow: .5px .5px darkblue;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-left: 20px;
}

ul.navbar li {
    display: inline-block;
    padding: 10px;
    text-align: center;
    border: 1px solid gray;
    border-radius: 8px;
    font-size: 18px;
    text-decoration: none;
}

.nonactive {
	color: black;
	text-decoration: none;
}

#active {
	color: coral;
	text-decoration: none;
}

li a:hover {
	color: maroon;	
	font-weight: 30px;
}

.portf-box{
	width: 33%;

}
#writing-portf {
	float: left;
}

#photo-portf {
	display: inline-block;
}

#design-portf {
	float: right;
}